* {
  margin: auto;
}

body {
  background: #000;
  x-overflow: hidden;
  y-overflow: hidden;
}

.header {
  height: 400px;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Source Sans Pro';
}

.header2 {
  background: transparent;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Source Sans Pro';
}
