body {
  background: #3B3244;
  font-family: 'Arimo';
}

#module_Header {
  margin: auto;
}

#module_Header > .main > p {
  color: #fff;
  font-size: 18px;
  font-family: 'Arimo';
}

#module_Header > .description > p {
  color: #fff;
  font-size: 16px;
  font-family: 'Arimo';
  opacity: .7;
}
